//------------------------------------------------ 
//- START COMPONENT
mixin several-header(h2, p1, p2)
  header.several-header
    h2.several-h2= h2
    hr.several-hr
    p= p1
    p= p2
  article 
//- END COMPONENT
//- -----------------------------------------------
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="this page for kasper template")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Kasper | One Page PSD Template
    include includes/links
  body
    //- START MAIN
    main
      .container
        nav
          .logo: img(src="image/logo.png", alt="logo")
          ul
            -var list=["HOME", "SERVICES", "PORTFOLIO", "ABOUT", "PRICING", "CONTACT"]
            for item in list 
              li: a(href="#")=item
          .search | #[i(class="fas fa-search")]
      section.landing 
        h2 Hello World! #[br] We Are Kasper We Make Art.
        p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
        .icon
          i(class="fas fa-angle-left fa-2x")
          i(class="fas fa-angle-right fa-2x")
      .circle  
        .circle-one
        .circle-two
        .circle-three
    //- END MAIN
    //- -----------------------------------------------
    //- START SERVICE SECTION
    section.service 
      .container
        +several-header('SERVICES','Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris', 'blandit aliquet elit, eget tincidunt.')
        article
          .one(class= "serv")
            i(class= "fas fa-desktop")
            div 
              h3 
              p 
          .two(class= "serv")
            i(class= "fas fa-cog")
            div 
              h3 
              p
          .three(class= "serv")
            i(class= "fas fa-pencil-ruler")
            div 
              h3 
              p
          .four(class= "serv")
            i(class= "fas fa-camera")
            div 
              h3 
              p
    
    //- END SERVICE SECTION
    //- -----------------------------------------------
    //- Start feature section 

    //- End feature section
    //- ---------------------------------------------
    //- Start services

    //- End services
    //- ----------------------------------------------
    //- Start portfolio  -->

    //- End portfolio -->
    //- ----------------------------------------------
    //- Start about  -->

    //- End about -->
    //- ----------------------------------------------
    //- Start contact -->

    //- End contact -->
    //- ----------------------------------------------
    //- Start footer -->

    //- End footer -->