//------------------------------------------------ 
//- START COMPONENT
include includes/mixin
//- END COMPONENT
//- -----------------------------------------------
doctype html
html(lang="en")
  head
    include includes/meta
    title Kasper | One Page PSD Template
    include includes/links
  body
    //- START MAIN
    main
      .container
        -var list=["HOME", "SERVICES", "PORTFOLIO", "ABOUT", "PRICING", "CONTACT"]
        nav
          .logo: img(src="image/logo.png", alt="logo")
          ul.list-bar
            for item in list 
              if item == list[0]
                li.active1: a(href="#")=item
              else
                li: a(href="#")=item


          .menu #[i(class="fas fa-bars fa-2x")]
          ul.list-menu
            for item in list
              if item == list[0]
                li.active1: a(href="#")=item
              else
                li: a(href="#")=item
          .search | #[i(class="fas fa-search")]

      section.landing 
        h2 Hello World! #[br] We Are Kasper We Make Art.
        p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
        .icon
          i(class="fas fa-angle-left fa-2x")
          i(class="fas fa-angle-right fa-2x")
      .circle  
        .circle-one
        .circle-two
        .circle-three
    //- END MAIN
    //- -----------------------------------------------
    //- START SERVICE SECTION
    section.service 
      .container
        +several-header('SERVICES','Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris', 'blandit aliquet elit, eget tincidunt.')
        article
          +serv("one serv","fas fa-desktop fa-3x","Vorem amet intuitive","Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.")
          +serv("two serv","fas fa-cog fa-3x","Vorem amet intuitive","Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.")
          +serv("three serv","fas fa-pencil-ruler fa-3x","Vorem amet intuitive","Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.")
          +serv("four serv","fas fa-camera fa-3x","Vorem amet intuitive","Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.")
    //- END SERVICE SECTION
    //- -----------------------------------------------
    //- START OUR DESIGN SECTION 
    section.design
      .image: img(src="image/mobile.png", alt="mobile")
      article
        h2 OUR DESIGN COMES WITH...
        - var prags= ["Responsive Design", "Modern And Clean Design", "Clean Code", "Browser Friendly"]
        each pra in prags
          p 
            i(class="fas fa-desktop")
            |#{pra}
    //- END OUR DESIGN SECTION
    //- ---------------------------------------------
    //- START PORTFOLIO SECTION
    section.portfolio
      +several-header('portfolio', 'Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris', 'blandit aliquet elit, eget tincidunt.')
      - var imgFilters= ["All", "App", "Photo", "Web", "Print"]
      article
        ul 
          each filter in imgFilters
              if filter == imgFilters[0]
                li.active2= filter
              else
                li= filter
        .container-image-box
          +image-box("image/shuffle-01.jpg","shuffle-01","Awesome Image","Photography")
          +image-box("image/shuffle-02.jpg","shuffle-02","Awesome Image","Photography")
          +image-box("image/shuffle-03.jpg","shuffle-03","Awesome Image","Photography")
          +image-box("image/shuffle-04.jpg","shuffle-04","Awesome Image","Photography")
          +image-box("image/shuffle-05.jpg","shuffle-05","Awesome Image","Photography")
          +image-box("image/shuffle-06.jpg","shuffle-06","Awesome Image","Photography")
          +image-box("image/shuffle-07.jpg","shuffle-07","Awesome Image","Photography")
          +image-box("image/shuffle-08.jpg","shuffle-08","Awesome Image","Photography")
        button.repeat-button: a(href="#") more

    //- END PORTFOLIO SECTION
    //- ----------------------------------------------
    //- START VEDIO SECTION
    section.video
      .video 
        video(autoplay loop muted)
          source(src="image/awesome-video.mp4" type="video/mp4")
          .
            your browser not supporting tag
        article 
          h2 super awesome video here
          p its all you need
          button: a(href="#") see more
    //- END VEDIO SECTION
    //- ----------------------------------------------
    //- START ABOUT SECTION
    section.about
      +several-header("about us", "Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris", "blandit aliquet elit, eget tincidunt.")
      .image
        img(src="image/about.png", alt="about")
    //- END ABOUT SECTION
    //- ----------------------------------------------
    //- START STATS SECTION
    section.stats
      .container
        article 
          +item-count("fas fa-mug-hot", "1.236", "coffee drinks")
          +item-count("far fa-folder", "256", "completed projects")
          +item-count("far fa-envelope", "1,743", "mail sent")
          +item-count("fas fa-trophy", "17", "awards received")
    //- END STATS SECTION
    //- ----------------------------------------------
    //- START SKILLS SECTION
    section.skills
      .container
        .testimonials
          +skill-header("testimonials", "Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.", "Mauris blandit aliquet elit, eget tincidunt.")
          article
            .item
              .item-testimonials
                .image: img(src="image/skills-01.jpg", alt="skills-01")
                .text
                  p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. mauris blandit aliquet elit, eget tincidunt.
                  span John Doe, CEO
                  hr
              .item-testimonials
                .image: img(src="image/skills-02.jpg", alt="skills-02")
                .text
                  p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. mauris blandit aliquet elit, eget tincidunt.
                  span John Doe, CEO
                  hr
            .circle-skills
              .circle-one-skills
              .circle-two-skills(class="circle-two")
              .circle-three-skills
        .degree-skills
          +skill-header("skills", "Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.", "Mauris blandit aliquet elit, eget tincidunt.")
          article
            -var hskills = ["ADOBE","HTML & CSS","JAVASCRIPT","PHP"]
              each val, index in hskills
                +deg-skills(val,"num" + index)
    //- END SKILLS SECTION
    //- ----------------------------------------------
    //- START QUOTE
    section.quote
      .container
        article
          p: q accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
          span John Doe
    //- END QUOTE
    //- ----------------------------------------------
    //- START PRICING
    section.pricing
      .container 
        +several-header("pricing", "Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris", "blandit aliquet elit, eget tincidunt.")
        article
          .all-table
            +repeat-table("basic", "19", "Feature No 1", "Extra Feature", "Extra Feature No 2", "Feature")
            +repeat-table("premium", "29", "Feature No 1", "Extra Feature", "Extra Feature No 2", "Feature")
            +repeat-table("pro", "39", "Feature No 1", "Extra Feature", "Extra Feature No 2", "Feature")
            +repeat-table("platinum", "49", "Feature No 1", "Extra Feature", "Extra Feature No 2", "Feature")
          p Contact us if you have special request
          button.repeat-button Contact Us
    //- END PRICING
    //- ----------------------------------------------
    //- START SUBSCRIBE
    section.subscribe
      .container
        article
          form(action="#", method="post")
            .input-place
              i(class="far fa-envelope")
              label(for="subscribe-input"): button.repeat-button subscribe 
              input#subscribe-input(type="email", name="subscribe-input" placeholder="Your Email")
          p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blan dit aliquet elit, eget tincidunt.
    //- END SUBSCRIBE
    //- ----------------------------------------------
    //- START CONTACT

    //- END CONTACT
    //- ----------------------------------------------
    //- START FOOTER

    //- END FOOTER
