doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="this page for kasper template")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Kasper | One Page PSD Template
    include includes/links
  body 

    //- Start header

    //- End landing section
    //- -----------------------------------------------
    //- Start feature section 

    //- End feature section
    //- ---------------------------------------------
    //- Start services

    //- End services
    //- ----------------------------------------------
    //- Start portfolio  -->

    //- End portfolio -->
    //- ----------------------------------------------
    //- Start about  -->

    //- End about -->
    //- ----------------------------------------------
    //- Start contact -->

    //- End contact -->
    //- ----------------------------------------------
    //- Start footer -->

    //- End footer -->